<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
        reprehenderit unde dolor tenetur architecto fugit necessitatibus
        debitis, at consequuntur a exercitationem culpa quis quo similique eius,
        autem quia saepe. Voluptas minima deleniti alias. Tempore, ipsa eveniet?
        Ab veritatis perspiciatis, nisi nam temporibus, soluta ea voluptas
        commodi numquam, vero unde impedit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
        reprehenderit unde dolor tenetur architecto fugit necessitatibus
        debitis, at consequuntur a exercitationem culpa quis quo similique eius,
        autem quia saepe. Voluptas minima deleniti alias. Tempore, ipsa eveniet?
        Ab veritatis perspiciatis, nisi nam temporibus, soluta ea voluptas
        commodi numquam, vero unde impedit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
        reprehenderit unde dolor tenetur architecto fugit necessitatibus
        debitis, at consequuntur a exercitationem culpa quis quo similique eius,
        autem quia saepe. Voluptas minima deleniti alias. Tempore, ipsa eveniet?
        Ab veritatis perspiciatis, nisi nam temporibus, soluta ea voluptas
        commodi numquam, vero unde impedit.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
